<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de Alunos</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css"></link>
</h:head>
<h:body>
	<p:panel header="Cadastro de Alunos" style="width:50%">
		<h:form id="cadastro-aluno-form">
			<p:growl />
			<p:panel header="Dados pessoais">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel value="Foto:"/>
					<h:panelGrid columns="2" id="grid-update">
						<p:fileUpload auto="true" label="Selecione uma foto"
							allowTypes="/(\.|\/)(jpe?g|png)$/"
							invalidFileMessage="Formato de arquivo inválido"
							dragDropSupport="true"
							update="grid-update" sizeLimit="1000000"
							fileUploadListener="#{alunoController.enviarFoto}"/>
						
						<h:panelGroup id="imagem-aluno">
							<p:graphicImage value="#{alunoController.aluno.imagem}"
							rendered="#{alunoController.aluno.foto != null}"
							width="100px;" height="100px;"
							/>
						</h:panelGroup>
					</h:panelGrid>
					<h:outputLabel value="Nome:"/>
					<p:inputText value="#{alunoController.aluno.nome}"/>
					<h:outputLabel value="Cpf:"/>
					<p:inputMask mask="999.999.999-99" value="#{alunoController.aluno.cpf}"/>
					<h:outputLabel value="Email:"/>
					<p:inputText value="#{alunoController.aluno.email}"
						placeholder="EX:email@teste.com.br"/>
					<h:outputLabel value="Telefone:"/>
					<p:inputMask mask="(99)9?99999999" value="#{alunoController.aluno.telefone}"/>
					<h:outputLabel value="Data Nasc."/>
					<p:calendar pattern="dd/mm/yyyy" mask="99/99/9999" showOn="button"
						navigator="true" yearRange="1950:2018"
						value="#{alunoController.aluno.dataNascimento}"/>
					<h:outputLabel value="Ativo"/>
					<p:selectBooleanCheckbox value="#{alunoController.aluno.ativo}"/>
				</h:panelGrid>
			</p:panel>
			<p:panel header="Dados de endereço">
				<h:panelGrid columns="2" cellpadding="5">
					<h:outputLabel value="Endereço:"/>
					<p:inputText value="#{alunoController.aluno.endereco.logradouro}"/>
					<h:outputLabel value="Número:"/>
					<p:inputText value="#{alunoController.aluno.endereco.numero}"/>
					<h:outputLabel value="Bairro:"/>
					<p:inputText value="#{alunoController.aluno.endereco.bairro}"/>
					<h:outputLabel value="Cidade:"/>
					<p:inputText value="#{alunoController.aluno.endereco.cidade}"/>
					<h:outputLabel value="Estado:"/>
					
					<p:selectOneMenu value="#{alunoController.aluno.endereco.estado}">
						<f:selectItem itemLabel="Selecione" itemValue="#{null}"/>
						<f:selectItems value="#{alunoController.estados}" var="estado"
							itemLabel="#{estado}" itemValue="#{estado}"/>
					</p:selectOneMenu>
					
					<h:outputLabel value="CEP:"/>
					<p:inputMask mask="99999-999" value="#{alunoController.aluno.endereco.cep}"/>
				</h:panelGrid>	
					
			</p:panel>
			<br/>
			<p:commandButton value="Salvar" action="#{alunoController.salvar}"
				update="@form"/>
			<p:commandButton value="Cancelar" action="#{alunoController.cancelar}"
				process="@this"/>	
		</h:form>
	</p:panel>
</h:body>
</html>
