<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Lista de Alunos</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css"></link>
</h:head>
<h:body>
	<p:button value="Novo Aluno" outcome="CadastroAluno" icon="novo-icon"/>
	<h:form>
		<p:dataTable widgetVar="tabelaAlunos" value="#{alunoController.alunos}" var="aluno"
			style="margin-top:10px;width:90%" paginator="true" rows="5"
			paginatorPosition="bottom" rowsPerPageTemplate="2, 3, 5, 10"
			>
			<p:column headerText="Foto" width="15%">
				<p:graphicImage value="#{alunoController.imagemAluno}"
					width="80px;" height="80px;">
					<f:param name="idAluno" value="#{aluno.id}"/>
				</p:graphicImage>
			</p:column>
			<p:column headerText="Nome" width="20%"
				filterBy="#{aluno.nome}" filterMatchMode="contains"
				sortBy="#{aluno.nome}">
				<h:outputText value="#{aluno.nome}" />
			</p:column>
			<p:column headerText="Cpf" width="15%">
				<h:outputText value="#{aluno.cpf}" />
			</p:column>
			<p:column headerText="Email"
				width="18%">
				<h:outputText value="#{aluno.email}"/>
			</p:column>
			<p:column headerText="Telefone"
				width="18%">
				<h:outputText value="#{aluno.telefone}"/>
			</p:column>
			<p:column headerText="Cidade"
				width="18%">
				<h:outputText value="#{aluno.endereco.cidade} - #{aluno.endereco.estado}"/>
			</p:column>
			<p:column style="text-align:center" width="15%">
				<p:commandButton icon="fa fa-edit"
					action="#{alunoController.editar(aluno)}" />
				<p:commandButton icon="fa fa-trash" style="margin-left:8px;"
					action="#{alunoController.prepararExclusao(aluno)}"
					oncomplete="PF('confirmarExclusaoAlunoDialog').show()" />
			</p:column>
		</p:dataTable>

		<p:confirmDialog widgetVar="confirmarExclusaoAlunoDialog"
			message="Deseja realmente excluir este aluno?">
			<p:commandButton value="Sim" action="#{alunoController.excluir}"
				update="@form"
				oncomplete="PF('confirmarExclusaoAlunoDialog').hide()" />
			<p:commandButton value="Não"
				oncomplete="PF('confirmarExclusaoAlunoDialog').hide()" />
		</p:confirmDialog>
	</h:form>
</h:body>
</html>
