.salvar-icon{
	background: url("../icons/salvar.png") !important
}
.cancelar-icon{
	background: url("../icons/cancelar.png") !important
}
.novo-icon{
	background: url("../icons/novo.png") !important
}