<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Cadastro de Cursos</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css"></link>
</h:head>
<h:body>
	<p:panel header="Cadastro de Cursos" style="width:50%">
		<h:form id="cadastro-curso-form">
			<p:messages />
			<p:growl autoUpdate="true" life="6000" />
			<h:panelGrid columns="2" cellpadding="5">
				<h:outputLabel value="Nome" />
				<p:inputText value="#{cursoController.curso.nome}" required="true"
					requiredMessage="Informe o campo nome" />
				<h:outputLabel value="Descrição" />
				<h:panelGrid>
					<p:inputTextarea cols="40" rows="3" counter="display"
						maxlength="255" counterTemplate="{0} caracteres restantes"
						required="true" requiredMessage="Informe a descrição"
						validatorMessage="A descrição deve ter ao menos 10 caracteres"
						value="#{cursoController.curso.descricao}">
						<f:validateLength minimum="10" />
					</p:inputTextarea>

					<h:outputText id="display" />
				</h:panelGrid>
				<h:outputLabel value="Tipo" />
				<p:selectOneMenu value="#{cursoController.curso.tipo}"
					required="true" requiredMessage="Selecione o tipo">
					<f:selectItem itemValue="#{null}" itemLabel="::Selecione::" />
					<f:selectItems value="#{cursoController.tiposCurso}" var="tipo"
						itemValue="#{tipo}" itemLabel="#{tipo.label}" />
				</p:selectOneMenu>
				<h:outputLabel value="Duração" />
				<p:inputText value="#{cursoController.curso.duracao}" />
				<h:outputLabel value="Data de Criação" />
				<p:calendar value="#{cursoController.curso.dataCriacao}"
					pattern="dd/MM/yyyy" mask="99/99/9999" navigator="true"
					yearRange="1950:2017" maxdate="11/11/2017" showOn="button" />
			</h:panelGrid>
			<h:panelGrid columns="2" cellpadding="8">
				<p:commandButton value="Salvar" icon="salvar-icon"
					action="#{cursoController.salvarCurso}" />
				<p:commandButton value="Cancelar" icon="cancelar-icon"
					action="#{cursoController.cancelar}" process="@this" />
			</h:panelGrid>
		</h:form>
	</p:panel>
</h:body>
</html>
