<!DOCTYPE html >

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Lista de Cursos</title>
	<link type="text/css" rel="stylesheet" href="../../css/style.css"></link>
</h:head>
<h:body>
	<p:button value="Novo Curso" outcome="CadastroCurso" icon="novo-icon"/>
	<h:form>
		<p:dataTable widgetVar="tabelaCursos" value="#{cursoController.listaCursos}" var="curso"
			style="margin-top:10px;width:70%" paginator="true" rows="5"
			paginatorPosition="bottom" rowsPerPageTemplate="2, 3, 5, 10"
			>
			<p:column headerText="Nome" 
				filterBy="#{curso.nome}" filterMatchMode="contains"
				sortBy="#{curso.nome}">
				<h:outputText value="#{curso.nome}" />
			</p:column>
			<p:column headerText="Tipo" filterBy="#{curso.tipo}" width="20%">
				<f:facet name="filter">
					<p:selectOneMenu onchange="PF('tabelaCursos').filter()">
						<f:selectItem itemValue="#{null}" itemLabel="Selecione"/>
						
						<f:selectItems value="#{cursoController.tiposCurso}"
							var="tipo" itemValue="#{tipo}" 
							itemLabel="#{tipo.label}"/>
							
					</p:selectOneMenu>
				</f:facet>
				<h:outputText value="#{curso.tipo.label}" />
			</p:column>
			<p:column headerText="Duração" width="15%">
				<h:outputText value="#{curso.duracao}" />
			</p:column>
			<p:column headerText="Data Criação" style="text-align:center"
				sortBy="#{curso.dataCriacao}" width="18%">
				<h:outputText value="#{curso.dataCriacao}">
					<f:convertDateTime pattern="dd/MM/yyyy" locale="pt_BR" />
				</h:outputText>
			</p:column>
			<p:column style="text-align:center" width="15%">
				<p:commandButton icon="fa fa-edit"
					action="#{cursoController.editar(curso)}" />
				<p:commandButton icon="fa fa-trash" style="margin-left:8px;"
					action="#{cursoController.prepararExclusao(curso)}"
					oncomplete="PF('confirmarExclusaoCursoDialog').show()" />
			</p:column>
		</p:dataTable>

		<p:confirmDialog widgetVar="confirmarExclusaoCursoDialog"
			message="Deseja realmente excluir este curso?">
			<p:commandButton value="Sim" action="#{cursoController.excluir}"
				update="@form"
				oncomplete="PF('confirmarExclusaoCursoDialog').hide()" />
			<p:commandButton value="Não"
				oncomplete="PF('confirmarExclusaoCursoDialog').hide()" />
		</p:confirmDialog>
	</h:form>
</h:body>
</html>
